[project]
	description = tp arqui 2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/killua666
[access "refs/for/refs/*"]
	read = group user/killua666
	push = group user/killua666
	label-Code-Review = -2..+2 group user/killua666
	label-Verified = -1..+1 group user/killua666
	rebase = group user/killua666
	removeReviewer = group user/killua666
	submit = group user/killua666
[access "refs/heads/*"]
	read = group user/killua666
	create = group user/killua666
	push = +force group user/killua666
	pushMerge = group user/killua666
[access "refs/tags/*"]
	push = group user/killua666
	push = +force group user/killua666
